<div class="sidebar-node">
  <h3>Odnośniki</h3>
  <ul>
    <li><a href="http://github.com/SRUG">Repozytorium Git</a></li>
    <li><a href="http://rubyonrails.pl/forum/">Polskie forum <abbr title="Ruby on Rails">RoR<abbr></a></li>
    <li><a href="http://apohllo.pl/guides/index.html">Przewodniki po <abbr title="Ruby on Rails">RoR<abbr></a></li>
    <li><a href="http://railscasts.com/">Screencasty o <abbr title="Ruby on Rails">RoR<abbr></a></li>
    <li><a href="http://www.tekniqal.com/">Screencasty o Ruby</a></li>
    <li><a href="http://gitcasts.com/">Screencasty o Git</a></li>
    <li><a href="http://heroku.com/">Darmowy hosting <abbr title="Ruby on Rails">RoR<abbr></a></li>
    <li><a href="http://www.railsenvy.com/podcast">Podcasty o <abbr title="Ruby on Rails">RoR<abbr></a></li>
  </ul>
</div>
