<div class="sidebar-node">
  <h3>SRUG w sieci</h3>
  <ul>
    <li><a href="http://groups.google.com/group/silesian-ruby-user-group/">Grupa dyskusyjna</a></li>
    <li><a href="http://twitter.com/srugpl">Twitter</a></li>
    <li><a href="http://github.com/SRUG">Konto Github</a></li>
    <li><a href="http://vimeo.com/srug">Nagrania na Vimeo</a></li>
  </ul>
</div>
<div class="sidebar-node">
  <h3>Odnośniki</h3>
  <ul>
    <li><a href="http://ruby-doc.org/">Dokumentacja języka Ruby</li>
    <li><a href="http://api.rubyonrails.org/">Dokumentacja <abbr title="Ruby on Rails">RoR<abbr></a><abbr></a></li>
    <li><a href="http://guides.rubyonrails.org/">Przewodniki po <abbr title="Ruby on Rails">RoR<abbr></a></li>
    <li><a href="http://railscasts.com/">Screencasty o <abbr title="Ruby on Rails">RoR<abbr></a></li>
    <li><a href="http://www.tekniqal.com/">Screencasty o Rubim</a></li>
    <li><a href="http://heroku.com/">Darmowy hosting <abbr title="Ruby on Rails">RoR<abbr></a></li>
    <li><a href="http://ruby5.envylabs.com/">Podcasty o Rubim i <abbr title="Ruby on Rails">RoR<abbr></a></li>
    <li><a href="http://www.railsenvy.com/podcast">Podcasty o <abbr title="Ruby on Rails">RoR<abbr></a></li>
  </ul>
</div>
