<div class="sidebar-node">
  <h3>Ruby w Polsce</h3>
  <ul>
    <li><a href="http://rubysfera.pl/">Portal informacyjny<abbr></a></li>
    <li><a href="http://rubyonrails.pl/forum/">Forum <abbr title="Ruby on Rails">RoR<abbr></a></li>
    <li><a href="http://groups.google.com/group/pl.comp.lang.ruby">Grupa usenetowa</a></li>
    <li><a href="http://www.ruby.org.pl/"><abbr title="Krakowska Grupa Użytkowników języka Ruby">KRUG<abbr></a></li>
    <li><a href="http://www.wrug.eu/"><abbr title="Warszawska Grupa Użytkowników języka Ruby">WRUG<abbr></a></li>
    <li><a href="http://trug.pl/"><abbr title="Trójmiejska Grupa Użytkowników języka Ruby">TRUG<abbr></a></li>
    <li><a href="http://lrug.pl/"><abbr title="Łódzka Grupa Użytkowników języka Ruby">LRUG<abbr></a></li>
  </ul>
</div>
