<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>SRUG &mdash; {{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/application.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">

    <link href="/atom.xml" rel="alternate" type="application/atom+xml" />
  </head>

  <body>
    <div class="wrap">
      <header class="header clouds">
        <div class="cloud x1"></div>
        <div class="cloud x2"></div>
        <div class="cloud x3"></div>
        <div class="cloud x4"></div>
        <div class="cloud x5"></div>

        <div class="container">
          <h1 class="logo pull-left">
            <a href="/">
              <div class="line">Silesian</div>
              <div class="line">Ruby</div>
              <div class="line">Users</div>
              <div class="line">Group</div>
            </a>
          </h1>

          <nav class="nav text-right">
            <ul class="list-inline">
              <li><a href="https://github.com/SRUG"><i class="fa fa-github"></i></a></li>
              <li><a href="https://twitter.com/srugpl"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://vimeo.com/srug"><i class="fa fa-vimeo-square"></i></a></li>
            </ul>
          </nav>
        </div>
      </header>

      <section class="main">
        <div class="container">
          {{ content }}
        </div>
      </section>

      <div class="push"></div>
    </div>

    <footer class="footer container">
      <img src="/img/bg.png">
      <p class="text-center">
        &copy; 2014 Śląska Grupa Użytkowników języka Ruby
      </p>
    </footer>

    {% include google_analytics.html %}
  </body>
</html>
